* {
  box-sizing: border-box;
  margin: 0;
}
.app-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
}
.res-con {
  width: 80%;
}
.emojis-list-con {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .res-con {
    width: 90%;
  }
}
