.score-card {
  background-color: #ffffff33;
  height: 500px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.score-text-card {
  align-self: center;
  margin-left: 24px;
}
.mobile-img {
  display: none;
}
.score-text-card h1 {
  font-size: 54px;
  font-weight: 600;
}
.score-details-card {
  display: flex;
  flex-direction: column;
}
.score-details-card p {
  font-size: 24px;
}
.score-details-card h1 {
  color: #6a59ff;
}
button {
  background-color: #ffce27;
  padding: 12px;
  border-radius: 12px;
  border: none;
}
@media screen and (max-width: 767px) {
  .score-card {
    background-color: #ffffff33;
    height: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    color: white;
  }
  .mobile-img {
    display: block;
    height: 30%;
    align-self: center;
    margin-left: 10%;
  }
  .desktop-img {
    display: none;
  }
  .score-text-card {
    align-self: center;
    margin-left: 24px;
  }
  .score-text-card h1 {
    font-size: 54px;
    font-weight: 600;
  }
  .score-details-card {
    display: flex;
    flex-direction: column;
  }
  .score-details-card p {
    font-size: 24px;
  }
  .score-details-card h1 {
    color: #6a59ff;
  }
  button {
    background-color: #ffce27;
    padding: 12px;
    border-radius: 12px;
    border: none;
  }
}
